  .movie {
      width: 90px;
      height: 90px;
      background-color: #3D9970;
      color: white;
      margin: 10px;
      border: 2px #fff solid;
  }

  .movie h1 {
      font-size: 1em;
  }
  .movie a {
      color: white;
      text-decoration: none;
  }

  .details {
      width: 240px;
      margin: 10px;
      background-color: blue;
      color: white;
      float: left;
  }

  .selected {
      border-color: #01FF70;
  }

  #movies {
      width: 120px;
      float: left;
  }

  #controls {
      clear: both;
  }
